---
import {jobs} from "../../config.ts"
import CompaniesListItem from "./CompaniesListItem.astro"
---

	{
		jobs.map((job) => (
			<div>
				<CompaniesListItem
					startYear={job.startYear}
					endYear={job.endYear}
					company={job.company}
					jobPosition={job.jobPosition}
					description={job.description}
				/>
			</div>
		))
	}


